<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Chat</title>
</head>
<body>
<h1>Chat</h1>

<form action="/chat/sendMessage" method="post" th:object="${newMessage}">
    <input type="text" name="sender" placeholder="Sender" th:field="*{sender}" />
    <input type="text" name="content" placeholder="Message" th:field="*{content}" />
    <button type="submit">Send</button>
</form>

<ul>
    <li th:each="message : ${messages}">
        <span th:text="${message.sender}"></span>: <span th:text="${message.content}"></span>
    </li>
</ul>
</body>
</html>
