<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>메인 상품</title>'
    <head th:insert="~{template/styleCss :: css_copy}"></head>
    <!--<link rel="stylesheet", href="member/join.css">-->
</head>
<body>
<header th:insert="~{template/header :: header_copy}"></header>

<div class="container">
    <h3> 메인 상품 </h3>
    <div style="float: right;">
        <button th:onclick="|location.href='@{/cart}'|" type="button" class="btn btn-primary">장바구니
        </button>
    </div>
    <hr style="margin-bottom: 2em; margin-top: 2em;">
    <form th:action="@{/product/search}" th:object="${productSearch}" method="get" style="float:right">
        <input type="hidden" th:field="*{name}"/>
        <input type="hidden" th:field="*{minPrice}"/>
        <input type="hidden" th:field="*{maxPrice}"/>
        <input type="hidden" th:field="*{category}"/>
        <input type="hidden" th:field="*{minLikeCount}"/>
        <input type="hidden" th:field="*{perPageNum}">
        <input type="hidden" th:name="sort" th:value="readCount"/>
        <button class="btn btn-outline-secondary mb-2" type="submit" name="sort" value="readCount" th:text="조회수순"/>
    </form>

    <div>
        <form th:action="@{/product/search}" th:object="${productSearch}" method="get" class="form-inline">
            <div class="row" style="float: right; margin-right: 0px">
                <div class="col">
                    <input type="text" th:field="*{name}" class="form-control" placeholder="상품명"/>
                </div>
                <div class="col">
                    <select class="form-select" id="category" th:field="*{category}">
                        <option th:value>카테고리</option>
                        <option th:value="음료">음료</option>
                        <option th:value="과자">과자</option>
                    </select>
                </div>
                <div class="col">
                    <input type="text" th:field="*{minPrice}" class="form-control" placeholder="최소 가격"/>
                </div>
                ~
                <div class="col">
                    <input type="text" th:field="*{maxPrice}" class="form-control" placeholder="최대 가격"/>
                </div>
                <div class="col">
                    <input type="text" th:field="*{minLikeCount}" class="form-control" placeholder="최소 좋아요 수"/>
                </div>
                <div class="col">
                    <select class="form-select" id="sort" th:field="*{sort}">
                        <option th:value>정렬순</option>
                        <option th:value="readCount">조회수순</option>
                        <option th:value="likeCount">좋아요순</option>
                    </select>
                </div>
                <div class="col">
                    <select class="form-select" id="perPageNum" th:field="*{perPageNum}">
                        <option th:value="1">1개씩</option>
                        <option th:value="10" th:selected="${perPageNum == null || perPageNum == 10}">10개씩</option>
                        <option th:value="20">20개씩</option>
                    </select>
                </div>
                <div class="col">
                    <button type="submit" class="btn btn-secondary mb-2">검색</button>
                </div>
            </div>
        </form>
    </div>
    <br>

    <section>
        <table class="table">
            <thead>
            <tr>
                <th scope="row">이미지</th>
                <th scope="row">상품명</th>
                <th scope="row">카테고리</th>
                <th scope="row">가격</th>
                <th scope="row">
                    <form th:action="@{/product/search}" th:object="${productSearch}" method="get">
                        <input type="hidden" th:field="*{name}"/>
                        <input type="hidden" th:field="*{minPrice}"/>
                        <input type="hidden" th:field="*{maxPrice}"/>
                        <input type="hidden" th:field="*{category}"/>
                        <input type="hidden" th:field="*{minLikeCount}"/>
                        <input type="hidden" th:field="*{perPageNum}">
                        <input type="hidden" th:name="sort" th:value="readCount"/>
                        <button type="submit">조회수&#9660;</button>
                    </form>
                </th>
                <th scope="row">
                    <form th:action="@{/product/search}" th:object="${productSearch}" method="get">
                        <input type="hidden" th:field="*{name}"/>
                        <input type="hidden" th:field="*{minPrice}"/>
                        <input type="hidden" th:field="*{maxPrice}"/>
                        <input type="hidden" th:field="*{category}"/>
                        <input type="hidden" th:field="*{minLikeCount}"/>
                        <input type="hidden" th:field="*{perPageNum}">
                        <button type="submit">좋아요&#9660;</button>
                    </form>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="product : ${products}">
                <td><a th:href="@{|/product/${product.id}|}">
                    <img th:src="@{|/img/${product.image}|}" th:alt="${product.image}" alt="이미지">
                </a></td>
                <td><a href="product.html" th:href="@{|/product/${product.id}|}" th:text="${product.name}">상품명</a></td>
                <th th:text="${product.category}"> 카테고리</th>
                <th th:text="${product.price}"> 10000</th>
                <th th:text="${product.readCount}"> 1</th>
                <th th:text="${product.likeCount}"> 1</th>
            </tr>
            </tbody>
        </table>

        <div class="PageMaker">
            <ul>
                <li class="row" th:if="${pageMaker.startPage > 1}">
                    <form th:action="@{|${#httpServletRequest.requestURI}}" th:object="${productSearch}" method="get">
                        <input type="hidden" th:field="*{name}"/>
                        <input type="hidden" th:field="*{minPrice}"/>
                        <input type="hidden" th:field="*{maxPrice}"/>
                        <input type="hidden" th:field="*{category}"/>
                        <input type="hidden" th:field="*{minLikeCount}"/>
                        <input type="hidden" th:field="*{perPageNum}">
                        <input type="hidden" th:field="*{sort}">
                        <button type="submit">&lt;</button>
                    </form>
                </li>

                <li class="row" th:each="page : ${#numbers.sequence(pageMaker.startPage, pageMaker.endPage)}">
                    <form th:action="@{|${#httpServletRequest.requestURI}}" th:object="${productSearch}" method="get">
                        <input type="hidden" th:field="*{name}"/>
                        <input type="hidden" th:field="*{minPrice}"/>
                        <input type="hidden" th:field="*{maxPrice}"/>
                        <input type="hidden" th:field="*{category}"/>
                        <input type="hidden" th:field="*{minLikeCount}"/>
                        <input type="hidden" th:field="*{perPageNum}">
                        <input type="hidden" th:field="*{sort}">
                        <button type="submit">[[${page}]]</button>
                    </form>
                </li>

                <li class="row" th:if="${pageMaker.endPage < pageMaker.totalPages}">
                    <form th:action="@{|${#httpServletRequest.requestURI}}" th:object="${productSearch}" method="get">
                        <input type="hidden" th:field="*{name}"/>
                        <input type="hidden" th:field="*{minPrice}"/>
                        <input type="hidden" th:field="*{maxPrice}"/>
                        <input type="hidden" th:field="*{category}"/>
                        <input type="hidden" th:field="*{minLikeCount}"/>
                        <input type="hidden" th:field="*{perPageNum}">
                        <input type="hidden" th:field="*{sort}">
                        <button type="submit">&gt;</button>
                    </form>
                </li>
            </ul>
        </div>

        <button th:onclick="|location.href='@{product/add}'|" type="button" class="btn btn-primary">상품 등록</button>
        <div style="float: right;">
            <button th:onclick="|location.href='@{/}'|" type="button" class="btn btn-secondary mb-2">메인 화면</button>
        </div>
    </section>
</div>
</body>
</html>