<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>바로 주문</title>
    <head th:insert="~{template/styleCss :: css_copy}"></head>
</head>
<body>
<header th:insert="~{template/header :: header_copy}"></header>

<div class="container">
    <h3 th:text="|${order.orderItems.get(0).product.name} 바로 주문|"> 주문 </h3>
    <hr>
    <form th:action="@{|/order/edit/${orderId}/now|}" method="post">
        <input type="hidden" name="id" th:value="${order.id}">
        <input type="hidden" name="memberId" th:value="${order.member.id}">
        <input type="hidden" name="productId" th:value="${order.orderItems[0].product.id}">

        <div>
            <div class="form-group">
                <label for="title">주문자</label><br>
                <input type="text"
                       class="form-control" id="title" name="title"
                       th:value="${order.member.nickname != null ? order.member.nickname : order.member.name}" readonly>
            </div>

            <div th:each="orderitem :${order.orderItems}">
                <div class="form-group">
                    <label for="item_name">상품 이름</label><br>
                    <input type="text"
                           class="form-control" id="item_name" name="item_name"
                           th:value="${orderitem.product.name}" readonly>
                </div>
                <div class="form-group">
                    <label for="productCount">상품 수량</label><br>
                    <input type="text"
                           class="form-control" id="productCount" name="productCount"
                           th:value="${orderitem.count}">
                </div>
                <!--                이거 바로바로 바뀌게 해주는게 좋을거 같은데,-->
                <div class="form-group">
                    <label for="productAllPrice">상품 가격</label><br>
                    <input type="text"
                           class="form-control" id="productAllPrice" name="productAllPrice"
                           th:value="${{orderitem.allPrice}}" readonly>
                </div>
            </div>
            <!--                이거 바로바로 바뀌게 해주는게 좋을거 같은데,-->

            <div class="form-group">
                <label for="OrderTotalPrice">주문 총가격</label><br>
                <input type="text"
                       class="form-control" id="OrderTotalPrice" name="OrderTotalPrice"
                       th:value="${order.totalPrice}" readonly>
            </div>
            <div class="form-group">
                <label for="delivery_city">배달 도시</label><br>
                <input type="text"
                       class="form-control" id="delivery_city" name="city"
                       th:value="${order.delivery.address.city}">
            </div>
            <div class="form-group">
                <label for="delivery_street">배달 거리</label><br>
                <input type="text"
                       class="form-control" id="delivery_street" name="street"
                       th:value="${order.delivery.address.street}">
            </div>
            <div class="form-group">
                <label for="delivery_zipcode">배달 우편번호</label><br>
                <input type="text"
                       class="form-control" id="delivery_zipcode" name="zipcode"
                       th:value="${order.delivery.address.zipcode}">
            </div>
        </div>
        <br>
        <button type="submit">주문</button>
    </form>
</div>
</body>
</html>