<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>게시판 등록</title>'
    <head th:insert="~{template/styleCss :: css_copy}"></head>
    <!--<link rel="stylesheet", href="board/join.css">-->
</head>
<body>
<header th:insert="~{template/header :: header_copy}"></header>
<div class="border">
    <h1>게시판 등록</h1>
    <form th:action th:object="${board}" method="POST">
        <input type="hidden" id="userId" name="userId" th:value="${loginMember.id}"/>
        <input type="hidden" id="member" name="member" th:value="${loginMember}"/>
        <div class="form-group">
            <label for="title">제목</label><br>
            <input type="text"
                   class="form-control" id="title" th:field="*{title}" placeholder="제목" required>
        </div>
        <div class="form-group">
            <label for="userName">작성자</label><br>
            <input type="text" class="form-control" id="userName" name="userName" th:value="${loginMember.name}" readonly>
        </div>
        <div class="form-group">
            <label for="category">종류</label><br>
            <select class="form-select" id = "category" th:field="*{category}" required>
                <option th:value="커뮤니티">커뮤니티</option>
                <option th:value="공지사항">공지사항</option>
            </select>
<!--            <input type="text"-->
<!--                   class="form-control" id="category" name="category"-->
<!--                   placeholder="종류(그 내려주는 걸로보여주면)" required>-->
        </div>
        <div class="form-group">
            <label for="content">내용</label><br>
            <textarea type="text"
                      class="form-control" id="content" th:field="*{content}" placeholder="내용" required/>
        </div>
        <div class="form-group">
            <label for="attachmentFile">첨부파일</label><br>
            <input type="text"
                   class="form-control" id="attachmentFile" th:field="*{attachmentFile}" placeholder="첨부파일">
        </div>
        <button type="submit">등록</button>
        <button th:onclick="|location.href='@{/board}'|">취소</button>
    </form>
</div>
</body>
</html>