<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>게시판</title>
    <head th:insert="~{template/styleCss :: css_copy}"></head>
    <!--<link rel="stylesheet", href="board/join.css">-->
</head>
<script>



    // // 예시로 받은 JSON 응답을 가정합니다
    // var xhr = new XMLHttpRequest();
    // // xhr.open('GET', '/your-endpoint', true); // 마지막 매개변수 true는 비동기적인 요청을 수행
    // // xhr.setRequestHeader('Accept', 'application/json');
    // xhr.onreadystatechange = function () {
    //     if (xhr.readyState === 4 && xhr.status === 401) {
    //         // 서버에서 전송한 JSON 응답을 파싱하여 JavaScript 객체로 변환
    //         var responseObject = JSON.parse(xhr.responseText);
    //
    //         // 결과를 HTML에 표시
    //         var resultElement = document.getElementById('result');
    //         resultElement.textContent = responseObject.message;
    //     }
    // };



    // 요 코드는 음... 수정코드인데 조금 더 고민을 해보도록하자 어떠니?
    // var commentEditMode = false;
    //
    // function toggleEditMode() {
    //     commentEditMode = !commentEditMode;
    // }
    //
    // function toggleEditMode(commentId) {
    //     var comment = document.getElementById("comment-" + commentId);
    //
    //     toggleEditMode()
    // }

    function deleteComment(id, boardId) {
        var form = document.createElement("form");
        form.setAttribute("method", "post");
        form.setAttribute("action", "/comment/" + id + "/delete");

        var hiddenInput = document.createElement("input");
        hiddenInput.setAttribute("type", "hidden");
        hiddenInput.setAttribute("name", "boardId");
        hiddenInput.setAttribute("value", boardId);

        form.appendChild(hiddenInput);

        document.body.appendChild(form);
        form.submit();
    }

    function deleteReply(id, boardId) {
        var form = document.createElement("form");
        form.setAttribute("boardId", boardId);
        form.setAttribute("method", "post");
        form.setAttribute("action", "/reply/" + id + "/delete");

        var hiddenInput = document.createElement("input");
        hiddenInput.setAttribute("type", "hidden");
        hiddenInput.setAttribute("name", "boardId");
        hiddenInput.setAttribute("value", boardId);
        form.appendChild(hiddenInput);

        document.body.appendChild(form);
        form.submit();
    }


</script>

<body>
<header th:insert="~{template/header :: header_copy}"></header>
<div class="container">
    <div id="result"></div>
    <h1>게시판</h1>
    <!--        <th:block th:if="${error == '이미 사용 중인 아이디입니다.'}">-->
    <!--            <h2 th:text="${error}"></h2>-->
    <!--        </th:block>-->

    <div>
        <div class="form-group">
            <label for="title">제목</label><br>
            <input type="text"
                   class="form-control" id="title" name="title"
                   th:value="${board.title}" readonly>
        </div>
        <div class="form-group">
            <label for="userName">작성자</label><br>
            <input type="text"
                   class="form-control" id="userName" name="userName"
                   th:value="${board.memberNickname != null ? board.memberNickname : board.memberName}" readonly>
        </div>
        <div class="form-group">
            <label for="category">카테고리</label><br>
            <input type="text"
                   class="form-control" id="category" name="category"
                   th:value="${board.category}" readonly>
        </div>
        <div class="form-group">
            <label for="createdTime">작성일자</label><br>
            <input type="text"
                   class="form-control" id="createdTime" name="createdTime"
                   th:value="${{board.createdTime}}" readonly>
        </div>
        <div class="form-group">
            <label for="readCount">조회 수</label><br>
            <input type="text"
                   class="form-control" id="readCount" name="readCount"
                   th:value="${board.readCount}" readonly>
        </div>
        <label for="likeCount">좋아요 수</label><br>
        <div class="form-group" style="display: flex;">
            <button style="flex:1; margin-right: 1em"
                    th:onclick="|location.href='/board/${board.id}/likeCountUp'|"
                    type="button"> up
            </button>
            <input type="text"
                   class="form-control" style="flex:6"
                   id="likeCount" name="likeCount"
                   th:value="${board.likeCount}" readonly>
            <button style="flex:1; margin-left: 1em"
                    th:onclick="|location.href='/board/${board.id}/likeCountDown'|"
                    type="button"> down
            </button>
        </div>
        <div class="form-group">
            <label for="content">내용</label><br>
            <input type="text"
                   class="form-control" id="content" name="content"
                   th:value="${board.content}" readonly>
        </div>
        <div class="form-group" th:if="${board.attachmentFiles.size() != 0}">
            <label for="attachmentFiles">첨부파일</label><br>
            <div id="attachmentFiles">
                <th:block th:each="attachFile : ${board.attachmentFiles}">
                    <a style="margin-right: 8px" th:href="|/download/${board.id}/${attachFile.attachmentFileName}|"
                       th:text="${attachFile.attachmentFileName}"/>
                </th:block>
            </div>
            <!--            <input type="file" multiple="multiple"-->
            <!--                   class="form-control" id="attachmentFiles" name="attachmentFiles"-->
            <!--                   th:value="${board.attachmentFiles}" readonly>-->
        </div>
    </div>

    <hr>

    <div>
        <div style="display: flex; align-items: center;">
            <form th:action="@{/comment}" method="post">
                <input type="hidden" th:name="boardId" th:value="${board.id}"/>
                <input type="hidden" th:name="memberId" th:value="${loginMember != null ? loginMember.id : ''}"/>
                <textarea name="content" placeholder="댓글을 입력하세요"></textarea>
                <button type="submit">댓글 작성</button>
            </form>
        </div>
        <div th:each="comment : ${board.comments}">
            <span th:text="|${comment.memberName} : ${comment.content}|"></span>
            <th>
                <a href="#" th:href="'javascript:deleteComment('+${comment.id}+','+${board.id}+')'"
                   class="btn btn-secondary btn-sm mb-2">X</a>
            </th>
            <div th:each="reply : ${comment.replies}">
                <span th:text="| ㄴ ${reply.memberName} : ${reply.content}|"></span>
                <th>
                    <a href="#" th:href="'javascript:deleteReply('+${reply.id}+','+${board.id}+')'"
                       class="btn btn-secondary btn-sm mb-2">X</a>
                </th>
            </div>
            <th:block th:if="${comment != null}" style="display: flex; align-items: center;">
                <form th:action="@{/reply}" method="post">
                    <input type="hidden" th:name="boardId" th:value="${board.id}"/>
                    <input type="hidden" th:name="commentId" th:value="${comment.id}"/>
                    <input type="hidden" th:name="memberId" th:value="${loginMember != null ? loginMember.id : ''}"/>
                    <textarea name="content" placeholder="답변을 입력하세요"></textarea>
                    <button type="submit">답변 작성</button>
                </form>
            </th:block>
        </div>
    </div>
    <hr class="my-4">
    <div class="row">
        <div class="col">
            <button class="w-100 btn btn-primary btn-lg" th:onclick="|location.href='/board/${boardId}/edit'|">수정하기
            </button>
        </div>
        <div class="col">
            <button class="w-100 btn btn-primary btn-lg" th:onclick="|location.href='/board/${boardId}/delete'|">삭제하기
            </button>
        </div>
        <div class="col">
            <button class="w-100 btn btn-secondary btn-lg" th:onclick="|location.href='@{/board}'|">메인 게시판</button>
        </div>
    </div>
</div>
</body>
</html>