<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>게시판 수정</title>'
    <head th:insert="~{template/styleCss :: css_copy}"></head>
</head>
<body>
<header th:insert="~{template/header :: header_copy}"></header>
<div class="border">
    <form th:action th:object="${board}" method="POST" enctype="multipart/form-data">
        <h1>게시판 수정 </h1>

        <div class="form-group">
            <label for="title">제목</label><br>
            <input type="text" class="form-control" id="title" th:field="*{title}" required/>
        </div>
        <div class="form-group">
            <label for="userName">작성자</label><br>
            <input type="text" class="form-control" id="userName" th:value="${board.memberNickname != null ? board.memberNickname : board.memberName}" readonly>
        </div>
        <div class="form-group">
            <label for="category">종류</label><br>
            <select class="form-select" id = "category" th:field="*{category}" required>
                <option th:value="커뮤니티">커뮤니티</option>
                <option th:value="공지사항">공지사항</option>
            </select>
        </div>
        <div class="form-group">
            <label for="createdTime">작성일자</label><br>
            <input type="text" class="form-control" id="createdTime" th:value="${{board.createdTime}}" readonly/>
        </div>

        <div class="form-group">
            <label for="content">내용</label><br>
            <input type="text" class="form-control" id="content" th:field="*{content}" required/>
        </div>
        <div class="form-group">
            <label for="attachmentFiles">기존 첨부파일</label><br>
            <div id="attachmentFiles">
                <th:block th:each="attachFile : ${board.attachmentFiles}">
                    <br>
                    <a th:href="|/download/${board.id}/${attachFile.attachmentFileName}|" th:text="${attachFile.attachmentFileName}"/>
<!--                    order의 cancel방식으로 하면 되지 않을까?-->
                    <a class="btn" style="margin: 1em; width: 15px; height: 15px"
                       th:href="|/delete/${board.id}/${attachFile.attachmentFileName}|" th:text="X" />
                </th:block>
<!--               추후 ajax로 해야할꺼 같은데(실시간으로 하려면) 실시간으로 안하니 위에꺼 다 초기화되서 다시 해야함.-->
            </div>
        </div>
        <div class="form-group">
            <label for="newAttachmentFiles">추가 할 첨부파일</label>
            <input type="file" multiple="multiple"
                   class="form-control" name = "newAttachmentFiles" id="newAttachmentFiles" th:field="*{attachmentFiles}" placeholder="첨부파일">
        </div>
        <button type="submit">완료</button>
        <button th:onclick="|location.href='@{/board}'|" type="button">메인 게시판</button>
    </form>
</div>
</body>
</html>