<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>회원가입</title>'
    <head th:insert="~{template/styleCss :: css_copy}"></head>
    <!--<link rel="stylesheet", href="member/join.css">-->
</head>
<body>
<header th:insert="~{template/header :: header_copy}"></header>
<div class="border">
    <form th:action="@{new}" th:object="${member}" method="POST">
        <h1>회원가입</h1>

        <div th:if="${#fields.hasGlobalErrors()}">
            <p class="field-error" th:each="err : ${#fields.globalErrors()}"
               th:text="${err}">전체 오류 메시지</p>
        </div>

        <!-- 아이디 -->
        <div class="form-group">
            <label for="userLoginId">로그인 아이디</label><br>
            <input type="text"
                   class="form-control" id="userLoginId" name="userLoginId" placeholder="Login ID" required>
            <div class="field-error" th:errors="*{userLoginId}"/>
        </div>
        <!-- 비밀번호 -->
        <div class="form-group">
            <label for="userPassword">비밀번호</label><br>
            <input type="password"
                   class="form-control" id="userPassword" name="userPassword" placeholder="PASSWORD" required>
            <div class="field-error" th:errors="*{userPassword}"/>
        </div>

        <!-- 비밀번호 재확인 -->
        <div class="form-group">
            <label for="checkpw">비밀번호 확인</label><br>
            <input type="password"
                   class="form-control" id="checkpw" name="checkpw" placeholder="Confirm Password" required>
            <button type="submit"> 중복 체크(구현해야함) </button>
        </div>
        <!-- 이름 -->
        <div class="form-group">
            <label for="name">이름</label><br>
            <input type="text"
                   class="form-control" id="name" th:field="*{name}" placeholder="Name" required>
            <div class="field-error" th:errors="*{name}"/>
            </div>
        <!-- 성별 -->
        <div class="form-group">
            <label for="gender">성별</label><br>
            <input type="text"
                   class="form-control" id="gender" name="gender" th:field="*{gender}" placeholder="gender" required>
            <div class="field-error" th:errors="*{gender}"/>
        </div>
        <!-- 휴대전화 -->
        <div class="form-group">
            <label for="phone">휴대전화 ('-' 없이 번호만 입력해주세요)</label><br>
            <input type="text" class="form-control" id="phone" name="phone" th:field="*{phone}" placeholder="ex) 01012345678" required>
            <div class="field-error" th:errors="*{phone}"/>
        </div>
        <!-- 주소 -->
        <div class="form-group">
            <label for="phone">주소</label><br>
            <input type="text"
                   class="form-control" id="address" name="address" th:field="*{address}" placeholder="address">
            <div class="field-error" th:errors="*{address}"/>
        </div>
        <!-- 이메일 -->
        <div class="form-group">
            <label for="email">이메일</label><br>
            <input type="text"
                   class="form-control" name="email" id="email" th:field="*{email}" placeholder="E-mail">
            <div class="field-error" th:errors="*{email}"/>
        </div>
        <!-- 생년월일 -->
        <div class="form-group required">
            <label for="birth">생년월일</label><br>
            <input type="text"
                   class="form-control" id="birth" name="birth" th:field="*{birth}" placeholder="ex) 19980203">
            <div class="field-error" th:errors="*{birth}"/>
        </div>

        <button type="submit">가입</button>
        <button th:onclick="|location.href='@{/}'|">취소</button>
    </form>
</div>
</body>
</html>