<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<title>Title</title>
<head>
    <meta charset="UTF-8">
    <title></title>
    <div th:insert="~{template/styleCss :: css_copy}"></div>
</head>
<body>
<header th:insert="~{template/header :: header_copy}"></header>
<div class="border">

    <form>
        <th:block th:if="${member.isPresent()}">
            <h5 th:text="|회원님의 아이디는 ${member.get().getUserLoginId()} 입니다.|"></h5>
        </th:block>
        <th:block th:unless="${member.isPresent()}">
            <h5> 정보에 맞는 아이디를 찾을 수 없습니다.</h5>
            <button th:onclick="|location.href='@{/member/idquiry}'|"
                    type="button" class="btn-light">아이디 찾기
            </button>
        </th:block>
    </form>

    <button th:onclick="|location.href='@{/}'|" type="button" class="btn-light">메인 화면</button>

</div>
</body>
</html>