<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>비밀번호 찾기</title>
    <div th:insert="~{template/styleCss :: css_copy}"></div>
</head>
<body>
<header th:insert="~{template/header :: header_copy}"></header>
<div class="border">

  <form action="pwquiry" method="post">
    <h1>비밀번호 찾기</h1>
    <label for = "userLoginId">아이디: </label><br>
    <input type="text" name="userLoginId" id="userLoginId"
           placeholder="아이디를 입력해주세요.">
      <br>
      <button type = "submit" class="btn-light">확인</button>
      <button th:onclick="|location.href='@{/}'|" type="button" class="btn-light">메인 화면</button>
  </form>
</div>


</body>
</html>