<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>아이디 찾기</title>
  <head th:insert="~{template/styleCss :: css_copy}"></head>
</head>
<body>

<header th:insert="~{template/header :: header_copy}"></header>

<div class="border">
  <form action="idquiry" method="post">
    <h1>아이디 찾기</h1>
    <label for = "name">이름: </label><br>
    <input type="text" name="name" id="name"
           placeholder="이름을 입력해주세요." required><br>
    <label for = "phone">전화번호: </label><br>
    <input type="text" name="phone" id="phone"
           placeholder="휴대전화 ('-' 없이 숫자만 입력해주세요)" required>
    <br>
    <button type = "submit"> 확인 </button>
    <button th:onclick="|location.href='@{/}'|" type="button">메인 화면</button>
  </form>
</div>


</body>
</html>