<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>정보</title>
    <div th:insert="~{template/styleCss :: css_copy}"></div>
</head>
<body>
<header th:insert="~{template/header :: header_copy}"></header>
<div class="container">
<!--    <div class="py-5 text-center">-->
<!--        <h2 th:text="#{}">회원 상세</h2>-->
<!--    </div>-->
<!--    메시지 국제화 코드 포함시켜보자 나중에 th:text="#{label.member.userId}"-->
    <div> 추후 메시지 국제화 코드도 포함시켜보자. </div>
<!--    <th th:text="#{label.item.id}">ID</th>-->
    <div>
        <label for="userLoginId">로그인 아이디</label>
        <input type="text" id="userLoginId" name="userLoginId" class="form-control" th:value="${loginMember.userLoginId}" readonly>
    </div>
    <div>
        <label for="name">이름</label>
        <input type="text" id="name" name="name" class="form-control" th:value="${loginMember.name}" readonly>
    </div>
    <div>
        <label for="email">닉네임</label>
        <input type="text" id="email" name="email" class="form-control" th:value="${loginMember.nickname}" readonly>
    </div>
    <div>
        <label for="gender">성별</label>
        <input type="text" id="gender" name="gender" class="form-control" th:value="${loginMember.gender}" readonly>
    </div>
    <div>
        <label for="phone">휴대전화</label>
        <input type="text" id="phone" name="phone" class="form-control" th:value="${loginMember.phone}" readonly>
    </div>
    <div class="form-group">
        <label th:for="city">도시</label>
        <input type="text" class="form-control" th:value="${loginMember.city}" readonly>
    </div>
    <div class="form-group">
        <label th:for="street">거리</label>
        <input type="text"  class="form-control" th:value="${loginMember.street}" readonly>
    </div>
    <div class="form-group">
        <label th:for="zipcode">우편번호</label>
        <input type="text" class="form-control" th:value="${loginMember.zipcode}" readonly>
    </div>
    <div>
        <label for="email">이메일</label>
        <input type="text" id="email" name="email" class="form-control" th:value="${loginMember.email}" readonly>
    </div>
    <div>
        <label for="birth">생년월일</label>
        <input type="date" id="birth" name="birth" class="form-control" th:value="${loginMember.birth}" readonly>
    </div>

    <hr class="my-4">

    <div class="row">
        <div class="col">
            <button class="w-100 btn btn-primary btn-lg"
                    th:onclick="|location.href='@{/member/edit}'|"
                    type="button">회원 수정</button>
        </div>
        <div class="col">
            <button class="w-100 btn btn-primary btn-lg"
                    th:onclick="|location.href='@{/member/delete}'|"
                    type="button">회원 탈퇴</button>
        </div>
        <div class="col">
            <button class="w-100 btn btn-secondary btn-lg"
                    th:onclick="|location.href='@{/}'|"
                    type="button">메인화면</button>
        </div>
    </div>

</div> <!-- /container -->
</body>
</html>