<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <head th:insert="~{template/styleCss :: css_copy}"></head>
</head>
<body>
<div class="container" style="max-width: 600px">
    <div class="py-5 text-center">
        <!--    <h2>400 오류 화면 스프링 부트 제공</h2> </div>-->
        <h1>사용자 오류 화면 입니다.</h1>
        <br>
        <br>

        <h3 th:text="${errorMessage}">Error Message Placeholder</h3>
        <br>
        <br>

        <div class="row">
            <div class="col">
                <form th:action="${previousUrl}" method="get">
                    <button type="submit" class="btn btn-success btn-lg">이전으로 돌아가기</button>
                </form>
            </div>
            <div class="col">
                <button th:onclick="|location.href='@{/}'|"
                        type="button" class="btn btn-success btn-lg">홈으로 돌아가기
                </button>
            </div>
        </div>

    </div>
</div>
</body>
</html>