<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home</title>
    <div th:insert="~{template/styleCss :: css_copy}"></div>
    <script>
        // 홈 화면 로딩 시 팝업 창 열기
        window.onload = function () {
            window.open("/popup", "mainPopUp", "width=500, height=650, status=no, scrollbars=no, toolbar=no, location=no, menubar=no");
        }
    </script>
</head>

<body>
<div class="container">
    <div th:insert="~{template/header :: header_copy}"></div>

    <section>
        <div>
            <div class="temp-box">
                <h3>로그인</h3>
                <hr>
                <section id="loginFormArea">
                    <th:block th:if="${loginMember == null}">
                        <form th:action="login" th:object="${loginMember}" method="Post">
                            <fieldset>
                                <input type="text" id="userLoginId" name="userLoginId" placeholder="아이디" required/><br>
                                <input type="password" id="userPassword" name="userPassword" placeholder="비밀번호" required/><br>

                                <button th:onclick="|location.href='@{/member/idquiry}'|"
                                        type="button" class="btn-light mb-2">아이디 찾기
                                </button>
                                <span class="bar" aria-hidden="true">|</span>
                                <button th:onclick="|location.href='@{/member/pwquiry}'|"
                                        type="button" class="btn-light mb-2">비밀번호 찾기
                                </button><br>

                                <button type="submit" class="btn-light mb-2"> 로그인</button>
                                <span class="bar" aria-hidden="true">|</span>
                                <button onclick="location.href='/member/new'"
                                        th:onclick="|location.href='@{member/new}'|"
                                        type="button" class="btn-light mb-2">회원가입
                                </button>
                            </fieldset>
                            <a href="/oauth2/authorization/google" class="btn btn-sm btn-success active" role="button">Google Login</a>
                            <a href="/oauth2/authorization/naver" class="btn btn-sm active" role="button">Naver Login</a>
                            <a href="/oauth2/authorization/kakao" class="btn btn-sm active" role="button">Kakao Login</a>
                        </form>
                    </th:block>

                    <th:block th:unless="${loginMember == null}">
                        <h4 th:text="|${loginMember.name}님이 로그인 중 입니다.|"/>
                        <form th:action="@{/logout}" method="post">
                            <button th:onclick="|location.href='@{/logout}'|" class="btn-light"
                                    type="submit">로그아웃
                            </button>
                        </form>
                    </th:block>

                </section>
            </div>
            <br>

            <div class="temp-box">
                <h3>게시판</h3>
                <hr>
                <table class="type01">
                    <thead>
                    <tr>
                        <th scope="row">제목</th>
                        <th scope="row">글쓴이</th>
                        <th scope="row">작성일</th>
                        <th scope="row">조회수</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="board : ${boards}"
                        th:class="${board.category == '공지사항'} ? 'even' : ''">
                        <td><a href="board.html" th:href="@{|/board/${board.id}|}" th:text="${board.title}">제목</a></td>
                        <td th:text="${board.userName}"> 작성자</td>
                        <td th:text="${{board.createdTime}}"> 작성일</td>
                        <th th:text="${board.readCount}"> 1</th>
                    </tr>
                    </tbody>
                </table>
                <!--                아랫단 번호 -->
                <!--                <div>-->
                <!--                    <ul>-->
                <!--                        <c:if test="${boardPageMaker.prev}">-->
                <!--                            <li><a href="LoginMain${boardPageMaker.makeboardQuery(boardPageMaker.startPage - 1)}">&laquo;</a>-->
                <!--                            </li>-->
                <!--                        </c:if>-->

                <!--                        <c:forEach begin="${boardPageMaker.startPage}" end="${boardPageMaker.endPage}" var="idx">-->
                <!--                            <li>-->
                <!--                                <a href="LoginMain${boardPageMaker.makeboardQuery(idx)}">${idx}</a>-->
                <!--                            </li>-->
                <!--                        </c:forEach>-->

                <!--                        <c:if test="${boardPageMaker.next && boardPageMaker.endPage > 0}">-->
                <!--                            <li><a href="LoginMain${boardPageMaker.makeboardQuery(boardPageMaker.endPage + 1)}">&raquo;</a>-->
                <!--                            </li>-->
                <!--                        </c:if>-->
                <!--        품            </ul>-->
                <!--                </div>-->
            </div>

            <br>
            <h3 style="margin: 0; padding: 0;">상품 - BEST</h3>
            <hr>

            <form th:object="${productSearch}" method="get" class="form-inline" style="margin: 0; padding: 0;">
                <div class="row">
                    <div class="col">
                        <select class="form-select" id="category" th:field="*{category}" required>
                            <option th:value>종류</option>
                            <option th:value="음료">음료</option>
                            <option th:value="과자">과자</option>
                        </select>
                    </div>
                    <div class="col">
                        <button type="submit" class="btn btn-secondary mb-2">검색</button>
                    </div>
                </div>
            </form>

            <table class="type02">
                <tbody>
                <tr>
                    <td></td>
                    <td th:each="product,iterationStat : ${products}">
                        <a href="product.html" th:href="@{|/product/${product.id}|}"
                           th:text="'BEST-' + ${iterationStat.count}">
                        </a>
                </tr>
                <tr>
                    <td></td>
                    <td th:each="product : ${products}">
                        <a href="product.html" th:href="@{|/product/${product.id}|}">
                            <img th:src="@{|/img/${product.image}|}" th:alt="${product.image}" alt="이미지">
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>상품명</td>
                    <td th:each="product : ${products}">
                        <a href="product.html" th:href="@{|/product/${product.id}|}" th:text="${product.name}">
                        </a>
                </tr>
                <tr>
                    <td>가격</td>
                    <td th:each="product : ${products}" th:text="${product.price} + '₩'">10000</td>
                </tr>
                <tr>
                    <td>좋아요 수</td>
                    <td th:each="product : ${products}" th:text="${product.likeCount}">좋아요 수</td>
                </tr>
                </tbody>
            </table>
        </div>

        <br>
        <div class="temp-box">
            <h3>좌석</h3>
            <hr>
            <img src="img/seat.jpg" class="Seat_image" width=230px height=230px
                 style="margin: 50px;"> <input type="button" value="예약"
                                               onclick="fn_res_form()"
                                               style="float: center; margin: 50px; font-size: 50px;">
        </div>

</div>
</section>
</div> <!-- /container -->
</body>
</html>