<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>팝업</title>
  <script>
    function closePopup() {
      window.close();
    }

    window.onload = function () {
      // Parse the URL to get the message parameter
      var urlSearchParams = new URLSearchParams(window.location.search);
      var message = urlSearchParams.get('message');

      // Set the message in your HTML
      document.getElementById('message').textContent = message;
    }


  </script>
</head>
<body>
<div class="popupContent">
  <img src="/img/logo.jpg" class="logo_image" width="40" height="40" margin="auto">
  <h2 id="message" th:text="${message}"> </h2>
</div>
<button onclick="closePopup()">팝업 닫기</button>
</body>
</html>